<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="e">Username:</label>
      <input type="username" formControlName="username" placeholder="Username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
    </div>


    <button class="btn btn-success">Update</button>
  </form>
</div>
