<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ng-template #loading>
  Loading...
</ng-template>

<div *ngIf="!(posts == (postsVoid$$  | async | async)); else loading"></div>

<ul>
  <li *ngFor="let post of posts" [innerHTML]="post.title" (click)="selectedPost = post"> 
  </li>
</ul>

<div *ngIf="selectedPost">
  <h1 [innerHTML]="selectedPost.title"></h1>
  <div [innerHTML]="selectedPost.content"></div>
</div>

<nav>
	<a routerLink="/dashboard">Dashboard</a>
	<a routerLink="/playlists">Playlists</a>
</nav>
<router-outlet></router-outlet>

<app-playlists></app-playlists>
